body{
    direction: rtl;
 }
.divCenter{

    width: 40%;
    float: right;

}

.divSpace{
    width: 30%;
    float: right;
    background-color: red;

}



.table{
    border: 2px outset silver;
    background-color: rgb(89, 89, 241);
      margin: auto;
      width: 100%;
      height: 100px;
}
.logo{
    height: 50px;
    width: 50px;
}
.categoryTable,td
{
    border: 2px solid black;
}
