body{
    direction: rtl;
}

.image {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  height: 250px;

}
h1 {
  text-align: center;
}

.form {
   padding: 10px; 
  text-align: right;
}

.center{
    width: 400px;
    margin: auto;
}

.forms{
  border: 1px outset silver;
  border-radius: 10px;
  background-color: lavender;
  width: 400px;
  margin: auto;
 
}
.txtStyle{
    padding-top: 10px;
    padding-bottom: 10px ;
}
.reqFirstRow{
  background-color: rgb(101, 93, 251);
  color: white;
  border: 1px outset silver;
  font-weight: bold;
  column-span: 3;
  width: 600px;
}
.reqEvenRowsFirstCol{
  background-color: rgb(195, 195, 195);
  border: 1px outset silver;
  font-weight: bold;
  float: right;
  width: 200px;

}
.reqEvenRowsSecCol{
  background-color: rgb(195, 195, 195);
  border: 1px outset silver;
  float: right;
  width: 200px;


}
.reqEvenRowsThCol{
  background-color: rgb(195, 195, 195);
  border: 1px outset silver;
  float: right;
  width: 200px;


}
.reqOddRowsFirstCol{
  background-color: white;
  border: 1px outset silver;
  font-weight: bold;
  float: right;
  width: 200px;

}

.reqOddRowsSecCol{
  background-color: white;
  border: 1px outset silver;
  float: right;
  width: 200px;


}
.reqOddRowsThCol{
  background-color: white;
  border: 1px outset silver;
  float: right;
  width: 200px;


}
.reqTable{
width: fit-content;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;

}




